[FORMAT]
max-line-length=80

[BASIC]
variable-naming-style=snake_case
argument-naming-style=snake_case
attr-naming-style=snake_case
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
method-naming-style=snake_case

[MESSAGES CONTROL]
disable=missing-docstring
disable=C0114
disable=C0115
disable=C0116

[TYPECHECK]
docstring-rgx=^\"\"\"[^\"]+

[DESIGN]
max-args=5

[IMPORTS]
known-standard-library=flask,sqlalchemy,pandas,numpy

[EXCEPTIONS]
overgeneral-exceptions=Exception